# standard ignore
NOTICE

.github/
.gitignore
.npmignore
.husky/
scripts/
templates/
docs/
test/
processed/
.vscode/
packageScripts/
.env.example
outputConfigs/
tokenDefinitions/
postcss.config.js

# overrides
