registry=https://itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 1/28/2019.
; begin auth token
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwN2RkNGVjNS00YmQyLTYzZTEtYmNmMi0xN2UzZGQzZjhmNjgiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTZiZjYzZTYtNzEwMi00YzUwLTlhNDQtZTk1ZWIwNzI2ZTM1Iiwic2lkIjoiN2I1MGY5MzAtY2IzNy00MDdmLTg2OWMtMzYxOTk0MWIzNTIyIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286MzU1YWIzNmEtN2QyMS00NjdmLTgwMDAtNDNmOTk1ZWIxOGI5IiwibmJmIjoxNTQwOTE4NDcxLCJleHAiOjE1NDg2OTUwNzF9.HHbz39wIBc6ACgsJwCI27dGOszPhckw2dDgI17qMjQZfbRl_YiT_M7BrrbYennV6_EHIQjuqxLMsuoMtKvIO6WqfQAAuZ-MegIIj9UbhfKhWoTR9ZgD2RamIt8HeUotOcwGMcg41VGWip6sVkn7yd48k3zsDZ2oSc_ZK8I3ablWjM26GGeAaYGKAzY-0cP_Egii9qO8HVQVZO_2WYD7nyYybn_96eIAdsYjTV8ve42SwT7M7dJpLJLoQazMxEgXyHuUwWWceByaCwto5WeHfWTEfRfbVkfQoYrZ6-W1BhUgPPTjbdgEoQ0gdOLLahEHlBexGURy6QIC7N38-bHsIhw
//itsals.pkgs.visualstudio.com/_packaging/as.com-npm/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwN2RkNGVjNS00YmQyLTYzZTEtYmNmMi0xN2UzZGQzZjhmNjgiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTZiZjYzZTYtNzEwMi00YzUwLTlhNDQtZTk1ZWIwNzI2ZTM1Iiwic2lkIjoiN2I1MGY5MzAtY2IzNy00MDdmLTg2OWMtMzYxOTk0MWIzNTIyIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286MzU1YWIzNmEtN2QyMS00NjdmLTgwMDAtNDNmOTk1ZWIxOGI5IiwibmJmIjoxNTQwOTE4NDcxLCJleHAiOjE1NDg2OTUwNzF9.HHbz39wIBc6ACgsJwCI27dGOszPhckw2dDgI17qMjQZfbRl_YiT_M7BrrbYennV6_EHIQjuqxLMsuoMtKvIO6WqfQAAuZ-MegIIj9UbhfKhWoTR9ZgD2RamIt8HeUotOcwGMcg41VGWip6sVkn7yd48k3zsDZ2oSc_ZK8I3ablWjM26GGeAaYGKAzY-0cP_Egii9qO8HVQVZO_2WYD7nyYybn_96eIAdsYjTV8ve42SwT7M7dJpLJLoQazMxEgXyHuUwWWceByaCwto5WeHfWTEfRfbVkfQoYrZ6-W1BhUgPPTjbdgEoQ0gdOLLahEHlBexGURy6QIC7N38-bHsIhw
; end auth token
