.DS_Store
node_modules/
docTemplates/
.cache/

## Demo support files
demo/*.css
demo/*.css.map
demo/*.md
demo/*.min.js

## CSS built from Sass process
src/*.css
src/*.css.map

## *-css built from sass-render process
*-css.js

## dist files
dist/
build/

## Code coverage reports
coverage/

## Added by Auro CLI migration (github-config-and-gitignore-changes)
demo/*.md
demo/*.min.js
