@import "./build/scssTokens/TokenVariables";

.color {
  color: $color-base-gray-light;
  color: $color-font-tertiary;
}

.foo {
  border-radius: 10px;
  font-size: $size-font-base;
}

.foobar {
  color: green;
}
